In [413]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [267]:
data1=pd.read_excel('bangalore_cars.xlsx')

In [268]:
data1

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
...,...,...,...,...,...
1476,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1477,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1478,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1479,"{'it': 0, 'ft': 'Diesel', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1480,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [269]:
data1['new_car_detail'] = data1.new_car_detail.apply(eval)

In [270]:
data1['new_car_overview'] = data1.new_car_overview.apply(eval)

In [271]:
data1['new_car_specs'] = data1.new_car_specs.apply(eval)

In [272]:
reg=[]
for i in data1['new_car_overview']:
    reg.append(i['top'][0]['value'])

In [273]:
ins=[]
for i in data1['new_car_overview']:
    ins.append(i['top'][1]['value'])

In [274]:
ft=[]
for i in data1['new_car_overview']:
    ft.append(i['top'][2]['value'])

In [275]:
seat=[]
for i in data1['new_car_overview']:
    seat.append(i['top'][3]['value'])

In [276]:
kms=[]
for i in data1['new_car_overview']:
    kms.append(i['top'][4]['value'])

In [277]:
model=[]
for i in data1['new_car_detail']:
    model.append(i['model'])

In [278]:
owner=[]
for i in data1['new_car_detail']:
    owner.append(i['ownerNo'])

In [279]:
model_year=[]
for i in data1['new_car_detail']:
    model_year.append(i['modelYear'])

In [280]:
color=[]
for i in data1['new_car_specs']:
    color.append(i['data'][0]['list'][0]['value'])

In [281]:
et=[]
for i in data1['new_car_specs']:
    et.append(i['data'][0]['list'][1]['value'])

In [282]:
milege=[]
for i in data1['new_car_specs']:
    milege.append(i['top'][0]['value'])

In [283]:
price=[]
for i in data1['new_car_detail']:
    price.append(i['price'])

In [284]:
price_save=[]
for i in data1['new_car_detail']:
    price_save.append(i['priceSaving'])

In [285]:
actual_price=[]
for i in data1['new_car_detail']:
    actual_price.append(i['priceActual'])

In [286]:

data1['registration Year']=reg

In [287]:
data1['registration Year']=data1['registration Year'].str.extract(pat='(\d+)', expand=False)

In [288]:
data1['insurance']=ins

In [289]:
data1['model']=model

In [290]:
data1['model_year']=model_year

In [291]:
data1['Engine_type']=et

In [292]:
data1['fuel_type']=ft

In [293]:
data1['no_seats']=seat
data1['no_seats']=data1['no_seats'].str.extract(pat='(\d+)', expand=False)

In [294]:
data1['kms']=kms
data1['kms']=data1['kms'].str.extract(pat='(\d+)', expand=False)

In [295]:
data1['milege']=milege
data1['milege']=data1['milege'].str.extract(pat='(\d+)', expand=False)

In [296]:
data1['color']=color

In [297]:
data1['owner_no']=owner

In [298]:
data1['price']=price
data1['price']=data1['price'].str.extract(pat='(\d+)', expand=False)

In [299]:
data1.drop(['new_car_detail','new_car_overview','new_car_feature','new_car_specs','car_links'],axis=1,inplace=True)

In [321]:
data1

,registration Year,insurance,model,model_year,Engine_type,fuel_type,no_seats,kms,milege,color,owner_no,price
0,2015,Third Party insurance,Maruti Celerio,2015,K10B Engine,Petrol,5,1,23,White,3,4
1,2018,Comprehensive,Ford Ecosport,2018,Ti-VCT Petrol Engine,Petrol,5,32,17,White,2,8
2,2018,Comprehensive,Tata Tiago,2018,Revotron Engine,Petrol,5,11,23,Red,1,5
3,2014,Comprehensive,Hyundai Xcent,2014,Kappa VTVT Petrol Engine,Petrol,5,17,19,Others,1,4
4,2015,Third Party insurance,Maruti SX4 S Cross,2015,DDiS 200 Diesel Engine,Diesel,5,60,23,Gray,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1476,2012,Comprehensive,Toyota Fortuner,2012,D-4D Diesel Engine,Diesel,7,1,12,Blue,2,16
1477,2008,Third Party insurance,Maruti SX4,2008,In-Line Engine,Petrol,5,56,15,Red,2,3
1478,2014,Comprehensive,Honda Brio,2014,i-VTEC Engine,Petrol,5,42,19,White,2,4
1479,2018,Comprehensive,Hyundai i20,2018,U2 CRDI Diesel Engine,Diesel,5,93,22,Red,1,7
1480,2017,Comprehensive,Hyundai Grand i10,2017,Kappa VTVT Petrol Engine,Petrol,5,36,18,White,2,6

In [300]:
data2=pd.read_excel('chennai_cars.xlsx')

In [301]:
data2['new_car_overview'] = data2.new_car_overview.apply(eval)

In [302]:
data2['new_car_specs'] = data2.new_car_specs.apply(eval)

In [303]:
data2['new_car_detail'] = data2.new_car_detail.apply(eval)

In [304]:
data2['feature'] = data2.new_car_feature.apply(eval)

In [305]:
reg=[]
for i in data2['new_car_overview']:
    reg.append(i['top'][0]['value'])

In [306]:
ins=[]
for i in data2['new_car_overview']:
    ins.append(i['top'][1]['value'])

In [307]:
ft=[]
for i in data2['new_car_overview']:
    ft.append(i['top'][2]['value'])

In [308]:
seat=[]
for i in data2['new_car_overview']:
    seat.append(i['top'][3]['value'])

In [309]:
kms=[]
for i in data2['new_car_overview']:
    kms.append(i['top'][4]['value'])

In [310]:
model=[]
for i in data2['new_car_detail']:
    model.append(i['model'])

In [311]:
owner=[]
for i in data2['new_car_detail']:
    owner.append(i['ownerNo'])

In [312]:
model_year=[]
for i in data2['new_car_detail']:
    model_year.append(i['modelYear'])

In [313]:
color=[]
for i in data2['new_car_specs']:
    color.append(i['data'][0]['list'][0]['value'])

In [314]:
et=[]
for i in data2['new_car_specs']:
    et.append(i['data'][0]['list'][1]['value'])

In [315]:
milege=[]
for i in data2['new_car_specs']:
    milege.append(i['top'][0]['value'])

In [316]:
price=[]
for i in data2['new_car_detail']:
    price.append(i['price'])

In [317]:
data2['registration Year']=reg
data2['registration Year']=data2['registration Year'].str.extract(pat='(\d+)', expand=False)
data2['insurance']=ins
data2['model']=model
data2['model_year']=model_year
data2['Engine_type']=et
data2['fuel_type']=ft
data2['no_seats']=seat
data2['no_seats']=data2['no_seats'].str.extract(pat='(\d+)', expand=False)
data2['kms']=kms
data2['kms']=data2['kms'].str.extract(pat='(\d+)', expand=False)
data2['milege']=milege
data2['milege']=data2['milege'].str.extract(pat='(\d+)', expand=False)
data2['color']=color
data2['owner_no']=owner
data2['price']=price
data2['price']=data2['price'].str.extract(pat='(\d+)', expand=False)

In [318]:
data2.drop(['new_car_detail','new_car_overview','new_car_feature','new_car_specs','car_links'],axis=1,inplace=True)

In [319]:
data2.drop('feature',axis=1,inplace=True)

In [320]:
data2

,registration Year,insurance,model,model_year,Engine_type,fuel_type,no_seats,kms,milege,color,owner_no,price
0,2022,Third Party insurance,Kia Sonet,2022,Smartstream G1.0 T - GDi,Petrol,5,20,998,Black,1,11
1,2015,Comprehensive,Maruti Eeco,2015,In-Line Engine,Petrol,7,20,15,Grey,1,4
2,2021,Third Party insurance,Nissan Magnite,2021,HRA0 1.0 TURBO PETROL,Petrol,5,30,20,Others,1,7
3,2015,Comprehensive,Hyundai i10,2015,IRDE2 Engine,Petrol,5,59,19,Silver,1,3
4,2015,Third Party insurance,Honda Jazz,2015,i-VTEC Petrol Engine,Petrol,5,50,18,Others,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1414,2018,Third Party insurance,Maruti Swift,2018,VTVT Engine,Petrol,5,42,22,Blue,1,6
1415,2019,Third Party insurance,Renault Duster,2018,dCi THP Diesel Engine,Diesel,5,59,19,Orange,1,8
1416,2018,Not Available,Tata Nexon,2018,Revotron 1.2L Turbocharged engine,Petrol,5,55,17,White,1,8
1417,2017,Comprehensive,Volkswagen Tiguan,2017,Common Rail Direct Injection,Diesel,5,65,16,Grey,1,20
1418,2019,Comprehensive,BMW 3 Series GT,2019,TwinPower Turbo 4-Cylinder Diesel Engine,Diesel,5,60,21,White,1,35

In [322]:
data3=pd.read_excel('hyderabad_cars.xlsx')

In [323]:
data3['new_car_overview'] = data3.new_car_overview.apply(eval)
data3['new_car_specs'] = data3.new_car_specs.apply(eval)
data3['new_car_detail'] = data3.new_car_detail.apply(eval)
data3['feature'] = data3.new_car_feature.apply(eval)

In [324]:
reg=[]
for i in data3['new_car_overview']:
    reg.append(i['top'][0]['value'])

In [325]:
ins=[]
for i in data3['new_car_overview']:
    ins.append(i['top'][1]['value'])

In [326]:
ft=[]
for i in data3['new_car_overview']:
    ft.append(i['top'][2]['value'])

In [327]:
seat=[]
for i in data3['new_car_overview']:
    seat.append(i['top'][3]['value'])

In [328]:
kms=[]
for i in data3['new_car_overview']:
    kms.append(i['top'][4]['value'])

In [329]:
model=[]
for i in data3['new_car_detail']:
    model.append(i['model'])

In [330]:
owner=[]
for i in data3['new_car_detail']:
    owner.append(i['ownerNo'])

In [331]:
model_year=[]
for i in data3['new_car_detail']:
    model_year.append(i['modelYear'])

In [332]:
color=[]
for i in data3['new_car_specs']:
    color.append(i['data'][0]['list'][0]['value'])

In [333]:
et=[]
for i in data3['new_car_specs']:
    et.append(i['data'][0]['list'][1]['value'])

In [334]:
milege=[]
for i in data3['new_car_specs']:
    milege.append(i['top'][0]['value'])

In [335]:
price=[]
for i in data3['new_car_detail']:
    price.append(i['price'])

In [336]:
data3['registration Year']=reg
data3['registration Year']=data3['registration Year'].str.extract(pat='(\d+)', expand=False)
data3['insurance']=ins
data3['model']=model
data3['model_year']=model_year
data3['Engine_type']=et
data3['fuel_type']=ft
data3['no_seats']=seat
data3['no_seats']=data3['no_seats'].str.extract(pat='(\d+)', expand=False)
data3['kms']=kms
data3['kms']=data3['kms'].str.extract(pat='(\d+)', expand=False)
data3['milege']=milege
data3['milege']=data3['milege'].str.extract(pat='(\d+)', expand=False)
data3['color']=color
data3['owner_no']=owner
data3['price']=price
data3['price']=data3['price'].str.extract(pat='(\d+)', expand=False)

In [337]:
data3.drop(['new_car_detail','new_car_overview','new_car_feature','new_car_specs','car_links'],axis=1,inplace=True)

In [338]:
data3.drop('feature',axis=1,inplace=True)

In [339]:
data3

,registration Year,insurance,model,model_year,Engine_type,fuel_type,no_seats,kms,milege,color,owner_no,price
0,2022,Third Party insurance,Volkswagen Polo,2022,1.0L TSI Petrol,Petrol,5,20,16,Others,1,10
1,2014,Third Party insurance,Hyundai EON,2014,Petrol Engine,Petrol,5,85,21,Red,2,2
2,2023,Third Party insurance,Hyundai Venue,2023,1.2 Kappa Petrol,Petrol,5,10,1197,Others,1,9
3,2017,Third Party insurance,Maruti Baleno,2017,VVT Petrol Engine,Petrol,5,50,21,Red,1,6
4,2022,Third Party insurance,Mahindra Thar,2022,mStallion 150 TGDi Engine,Petrol,4,10,1997,Others,1,19
...,...,...,...,...,...,...,...,...,...,...,...,...
1478,2013,Third Party insurance,Mahindra XUV500,2013,mHawk Diesel Engine,Diesel,7,60,15,Others,1,7
1479,2014,Third Party insurance,Jaguar XF,2014,Diesel S Engine,Diesel,5,50,14,Blue,1,20
1480,2018,Third Party insurance,BMW 5 Series,2018,TwinPower Turbo Inline 4 Cylinder Engine,Diesel,5,1,20,Blue,3,35
1481,2019,Third Party insurance,Tata Nexon,2019,"Revotorq, 1.5L Turbocharged engine",Diesel,5,50,21,Others,2,8
1482,2015,Third Party insurance,Toyota Innova,2015,2KD-FTV Diesel Engine,Diesel,7,1,12,Others,1,15

In [340]:
data4=pd.read_excel('kolkata_cars.xlsx')

In [341]:
data4['new_car_overview'] = data4.new_car_overview.apply(eval)
data4['new_car_specs'] = data4.new_car_specs.apply(eval)
data4['new_car_detail'] = data4.new_car_detail.apply(eval)
data4['feature'] = data4.new_car_feature.apply(eval)

In [342]:
reg=[]
for i in data4['new_car_overview']:
    reg.append(i['top'][0]['value'])

In [343]:
ins=[]
for i in data4['new_car_overview']:
    ins.append(i['top'][1]['value'])

In [344]:
ft=[]
for i in data4['new_car_overview']:
    ft.append(i['top'][2]['value'])

In [345]:
seat=[]
for i in data4['new_car_overview']:
    seat.append(i['top'][3]['value'])

In [346]:
kms=[]
for i in data4['new_car_overview']:
    kms.append(i['top'][4]['value'])

In [347]:
model=[]
for i in data4['new_car_detail']:
    model.append(i['model'])

In [348]:
owner=[]
for i in data4['new_car_detail']:
    owner.append(i['ownerNo'])

In [349]:
model_year=[]
for i in data4['new_car_detail']:
    model_year.append(i['modelYear'])

In [350]:
color=[]
for i in data4['new_car_specs']:
    color.append(i['data'][0]['list'][0]['value'])

In [351]:
et=[]
for i in data4['new_car_specs']:
    et.append(i['data'][0]['list'][1]['value'])

In [352]:
milege=[]
for i in data4['new_car_specs']:
    milege.append(i['top'][0]['value'])

In [353]:
price=[]
for i in data4['new_car_detail']:
    price.append(i['price'])

In [354]:
data4['registration Year']=reg
data4['registration Year']=data4['registration Year'].str.extract(pat='(\d+)', expand=False)
data4['insurance']=ins
data4['model']=model
data4['model_year']=model_year
data4['Engine_type']=et
data4['fuel_type']=ft
data4['no_seats']=seat
data4['no_seats']=data4['no_seats'].str.extract(pat='(\d+)', expand=False)
data4['kms']=kms
data4['kms']=data4['kms'].str.extract(pat='(\d+)', expand=False)
data4['milege']=milege
data4['milege']=data4['milege'].str.extract(pat='(\d+)', expand=False)
data4['color']=color
data4['owner_no']=owner
data4['price']=price
data4['price']=data4['price'].str.extract(pat='(\d+)', expand=False)

In [355]:
data4.drop(['new_car_detail','new_car_overview','new_car_feature','new_car_specs','car_links'],axis=1,inplace=True)

In [356]:
data4.drop('feature',axis=1,inplace=True)

In [357]:
data4

,registration Year,insurance,model,model_year,Engine_type,fuel_type,no_seats,kms,milege,color,owner_no,price
0,2014,Third Party insurance,Toyota Camry,2014,2AR FXE Petrol Engine,Petrol,5,70,19,White,3,9
1,2017,Comprehensive,Datsun RediGO,2017,0.8L Petrol Engine,Petrol,5,23,22,Red,1,2
2,2021,Comprehensive,Renault Kiger,2021,1.0L energy,Petrol,5,7,19,Blue,1,5
3,2012,Third Party,Hyundai i20,2011,In-Line Engine,Petrol,5,71,17,Red,2,2
4,2014,Third Party insurance,Audi Q3,2014,TDI Diesel Engine,Diesel,5,50,15,White,2,12
...,...,...,...,...,...,...,...,...,...,...,...,...
1376,2022,Third Party insurance,Maruti Celerio,2022,K10C,Petrol,5,10,25,Others,1,5
1377,2014,Third Party insurance,Maruti Alto 800,2014,F8D Petrol Engine,Petrol,5,1,22,Others,1,1
1378,2011,Third Party insurance,Mercedes-Benz C-Class,2011,Blue Efficiency Engine,Petrol,5,50,11,Others,3,5
1379,2012,Third Party insurance,Maruti Ritz,2012,K Series Petrol Engine,Petrol,5,40,18,Others,1,1
1380,2017,Third Party insurance,Renault Duster,2017,dCi THP Diesel Engine,Diesel,5,1,19,Others,2,5

In [358]:
data5=pd.read_excel('jaipur_cars.xlsx')

In [359]:
data5['new_car_overview'] = data5.new_car_overview.apply(eval)
data5['new_car_specs'] = data5.new_car_specs.apply(eval)
data5['new_car_detail'] = data5.new_car_detail.apply(eval)
data5['feature'] = data5.new_car_feature.apply(eval)

In [360]:
reg=[]
for i in data5['new_car_overview']:
    reg.append(i['top'][0]['value'])

In [361]:
ins=[]
for i in data5['new_car_overview']:
    ins.append(i['top'][1]['value'])

In [362]:
ft=[]
for i in data5['new_car_overview']:
    ft.append(i['top'][2]['value'])

In [363]:
seat=[]
for i in data5['new_car_overview']:
    seat.append(i['top'][3]['value'])

In [364]:
kms=[]
for i in data5['new_car_overview']:
    kms.append(i['top'][4]['value'])

In [365]:
model=[]
for i in data5['new_car_detail']:
    model.append(i['model'])

In [366]:
owner=[]
for i in data5['new_car_detail']:
    owner.append(i['ownerNo'])

In [367]:
model_year=[]
for i in data5['new_car_detail']:
    model_year.append(i['modelYear'])

In [368]:
color=[]
for i in data5['new_car_specs']:
    color.append(i['data'][0]['list'][0]['value'])

In [369]:
et=[]
for i in data5['new_car_specs']:
    et.append(i['data'][0]['list'][1]['value'])

In [370]:
milege=[]
for i in data5['new_car_specs']:
    milege.append(i['top'][0]['value'])

In [371]:
price=[]
for i in data5['new_car_detail']:
    price.append(i['price'])

In [372]:
data5['registration Year']=reg
data5['registration Year']=data5['registration Year'].str.extract(pat='(\d+)', expand=False)
data5['insurance']=ins
data5['model']=model
data5['model_year']=model_year
data5['Engine_type']=et
data5['fuel_type']=ft
data5['no_seats']=seat
data5['no_seats']=data5['no_seats'].str.extract(pat='(\d+)', expand=False)
data5['kms']=kms
data5['kms']=data5['kms'].str.extract(pat='(\d+)', expand=False)
data5['milege']=milege
data5['milege']=data5['milege'].str.extract(pat='(\d+)', expand=False)
data5['color']=color
data5['owner_no']=owner
data5['price']=price
data5['price']=data5['price'].str.extract(pat='(\d+)', expand=False)

In [373]:
data5.drop(['new_car_detail','new_car_overview','new_car_feature','new_car_specs','car_links'],axis=1,inplace=True)

In [374]:
data5.drop('feature',axis=1,inplace=True)

In [375]:
data5

,registration Year,insurance,model,model_year,Engine_type,fuel_type,no_seats,kms,milege,color,owner_no,price
0,2015,Third Party insurance,Hyundai i20,2015,U2 CRDI Diesel Engine,Diesel,5,1,22,Others,2,5
1,2012,Third Party,Maruti Swift,2012,K Series Dual jet,Petrol,5,66,22,White,1,3
2,2016,Third Party insurance,Maruti Celerio,2016,K10B Engine,Petrol,5,80,23,Others,2,3
3,2017,Third Party insurance,Hyundai Grand i10,2017,Kappa VTVT Petrol Engine,Petrol,5,44,18,Silver,1,4
4,2016,Third Party insurance,Maruti Wagon R,2016,K10B Petrol Engine,Petrol,5,40,20,Silver,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
1115,2011,Third Party insurance,Chevrolet Beat,2011,Smartech Engine,Petrol,5,1,18,Others,1,1
1116,2007,Third Party insurance,Maruti Alto,2007,In-Line Engine,Petrol,5,70,19,Others,1,1
1117,2022,Third Party insurance,Renault Kiger,2022,1.0L energy,Petrol,5,20,19,Others,1,8
1118,2009,Third Party insurance,Maruti Alto,2009,In-Line Engine,Petrol,5,40,19,Others,1,1
1119,2018,Third Party insurance,Maruti Baleno,2018,VVT Petrol Engine,Petrol,5,80,21,Others,1,5

In [514]:
df=pd.concat([data1,data2,data3,data4,data5],ignore_index=True)

In [515]:
df

,registration Year,insurance,model,model_year,Engine_type,fuel_type,no_seats,kms,milege,color,owner_no,price
0,2015,Third Party insurance,Maruti Celerio,2015,K10B Engine,Petrol,5,1,23,White,3,4
1,2018,Comprehensive,Ford Ecosport,2018,Ti-VCT Petrol Engine,Petrol,5,32,17,White,2,8
2,2018,Comprehensive,Tata Tiago,2018,Revotron Engine,Petrol,5,11,23,Red,1,5
3,2014,Comprehensive,Hyundai Xcent,2014,Kappa VTVT Petrol Engine,Petrol,5,17,19,Others,1,4
4,2015,Third Party insurance,Maruti SX4 S Cross,2015,DDiS 200 Diesel Engine,Diesel,5,60,23,Gray,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...
6879,2011,Third Party insurance,Chevrolet Beat,2011,Smartech Engine,Petrol,5,1,18,Others,1,1
6880,2007,Third Party insurance,Maruti Alto,2007,In-Line Engine,Petrol,5,70,19,Others,1,1
6881,2022,Third Party insurance,Renault Kiger,2022,1.0L energy,Petrol,5,20,19,Others,1,8
6882,2009,Third Party insurance,Maruti Alto,2009,In-Line Engine,Petrol,5,40,19,Others,1,1
6883,2018,Third Party insurance,Maruti Baleno,2018,VVT Petrol Engine,Petrol,5,80,21,Others,1,5

In [378]:
df.isnull().sum()

registration Year    47
insurance             0
model                 0
model_year            0
Engine_type           0
fuel_type             0
no_seats              0
kms                  10
milege                0
color                 0
owner_no              0
price                 0
dtype: int64

In [516]:
df['registration Year'].fillna(df['registration Year'].mode()[0],inplace=True)

In [517]:
df['registration Year']=df['registration Year'].astype(int)
df['no_seats']=df['no_seats'].astype(int)
df['kms'] = df['kms'].replace('NaN', pd.NA).fillna(0).astype(int)
df['milege']=df['milege'].astype(int)
df['owner_no']=df['owner_no'].astype(int)
df['price']=df['price'].astype(int)

In [386]:
df['kms'].value_counts()[50:100]

16    46
57    46
19    45
14    45
69    45
76    45
73    44
58    44
64    43
18    42
25    42
17    42
15    40
21    39
66    39
59    39
26    37
89    36
81    36
79    36
78    35
12    33
88    33
7     32
83    32
96    31
74    31
43    29
8     29
95    28
11    28
77    28
87    28
6     27
91    26
82    26
94    26
13    26
2     25
4     24
92    24
97    23
86    21
84    21
98    20
5     19
93    19
99    19
3     17
0     11
Name: kms, dtype: int64

In [387]:
import seaborn as sns

In [388]:
a=df.corr()

/var/folders/3t/pqh4_s6s6wv5gtzhmb5s8qn80000gn/T/ipykernel_10854/962033958.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  a=df.corr()

In [401]:
df.skew()

/var/folders/3t/pqh4_s6s6wv5gtzhmb5s8qn80000gn/T/ipykernel_10854/1665899112.py:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.skew()

registration Year       -0.733635
model_year              -0.951499
no_seats                15.430126
kms                           NaN
milege                   6.908193
owner_no                 1.834519
price                    3.926368
tr_registration Year    -0.738865
tr_no_seats              7.206658
dtype: float64

In [518]:
import numpy as np

In [520]:
df['tr_no_seats']=np.log(df['no_seats'])

In [521]:
df['tr_kms']=np.log([x+1 for x in df['kms']])

In [522]:
df.dropna(inplace=True)

In [523]:
df.isnull().sum()

registration Year    0
insurance            0
model                0
model_year           0
Engine_type          0
fuel_type            0
no_seats             0
kms                  0
milege               0
color                0
owner_no             0
price                0
tr_no_seats          0
tr_kms               0
dtype: int64

In [524]:
df['tr_milege']=np.log([x+1 for x in df['milege']])

In [525]:
df['tr_price']=np.log(df['price'])

In [526]:
df.skew()

registration Year    -0.733635
model_year           -0.951499
no_seats             15.430126
kms                  14.835006
milege                6.908193
owner_no              1.834519
price                 3.926368
tr_no_seats           7.206658
tr_kms               -1.063430
tr_milege             4.750391
tr_price              0.416705
dtype: float64

In [420]:
df.columns

Index(['registration Year', 'insurance', 'model', 'model_year', 'Engine_type',
       'fuel_type', 'no_seats', 'kms', 'milege', 'color', 'owner_no', 'price',
       'tr_registration Year', 'tr_no_seats', 'tr_kms', 'tr_milege',
       'tr_price'],
      dtype='object')

In [423]:
df['insurance'].value_counts()

Third Party insurance    3445
Comprehensive            2441
Third Party               527
Not Available             219
Zero Dep                  199
Petrol                     40
Diesel                      9
1                           2
2                           1
Electric                    1
Name: insurance, dtype: int64

In [527]:
df = df.drop(df[df['insurance'] == 'Petrol'].index)
df = df.drop(df[df['insurance'] == 'Diesel'].index)
df = df.drop(df[df['insurance'] == '1'].index)
df = df.drop(df[df['insurance'] == '2'].index)
df = df.drop(df[df['insurance'] == 'Electric'].index)

In [574]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing 
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [497]:
df.columns

Index(['registration Year', 'insurance', 'model', 'model_year', 'Engine_type',
       'fuel_type', 'no_seats', 'kms', 'milege', 'color', 'owner_no', 'price',
       'tr_registration Year', 'tr_no_seats', 'tr_kms', 'tr_milege',
       'tr_price'],
      dtype='object')

In [542]:
X=df[['registration Year','insurance','model','Engine_type','fuel_type','color','owner_no',
     'tr_no_seats', 'tr_kms', 'tr_milege']]

In [543]:
y=df['tr_price']

In [544]:
ohe_1 = OneHotEncoder(handle_unknown='ignore')
x_ohe_1 = ohe_1.fit_transform(X[['model']]).toarray()

In [546]:
ohe_2 = OneHotEncoder(handle_unknown='ignore')
x_ohe_2 = ohe_2.fit_transform(X[['Engine_type']]).toarray()

In [547]:
ohe_3 = OneHotEncoder(handle_unknown='ignore')
x_ohe_3 = ohe_3.fit_transform(X[['color']]).toarray()

In [548]:
label_encoder = preprocessing.LabelEncoder()

In [550]:
label_enc_colum=['insurance','fuel_type']
for i in label_enc_colum:
    df[i]=label_encoder.fit_transform(df[i])

In [551]:
df

,registration Year,insurance,model,model_year,Engine_type,fuel_type,no_seats,kms,milege,color,owner_no,price,tr_no_seats,tr_kms,tr_milege,tr_price
0,2015,3,Maruti Celerio,2015,K10B Engine,4,5,1,23,White,3,4,1.609438,0.693147,3.178054,1.386294
1,2018,0,Ford Ecosport,2018,Ti-VCT Petrol Engine,4,5,32,17,White,2,8,1.609438,3.496508,2.890372,2.079442
2,2018,0,Tata Tiago,2018,Revotron Engine,4,5,11,23,Red,1,5,1.609438,2.484907,3.178054,1.609438
3,2014,0,Hyundai Xcent,2014,Kappa VTVT Petrol Engine,4,5,17,19,Others,1,4,1.609438,2.890372,2.995732,1.386294
4,2015,3,Maruti SX4 S Cross,2015,DDiS 200 Diesel Engine,1,5,60,23,Gray,1,7,1.609438,4.110874,3.178054,1.945910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6879,2011,3,Chevrolet Beat,2011,Smartech Engine,4,5,1,18,Others,1,1,1.609438,0.693147,2.944439,0.000000
6880,2007,3,Maruti Alto,2007,In-Line Engine,4,5,70,19,Others,1,1,1.609438,4.262680,2.995732,0.000000
6881,2022,3,Renault Kiger,2022,1.0L energy,4,5,20,19,Others,1,8,1.609438,3.044522,2.995732,2.079442
6882,2009,3,Maruti Alto,2009,In-Line Engine,4,5,40,19,Others,1,1,1.609438,3.713572,2.995732,0.000000
6883,2018,3,Maruti Baleno,2018,VVT Petrol Engine,4,5,80,21,Others,1,5,1.609438,4.394449,3.091042,1.609438

In [552]:
X = np.concatenate((df[['registration Year','insurance','fuel_type','owner_no',
     'tr_no_seats','tr_kms','tr_milege']].values,x_ohe_1,x_ohe_2,x_ohe_3), axis=1)
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)

In [553]:
lr=LinearRegression()
lr.fit(x_train,y_train)
pred=lr.predict(x_test)

In [554]:
r_2=r2_score(y_test, pred)

mse=mean_squared_error(y_test, pred)

mae=mean_absolute_error(y_test, pred)

In [555]:
mse

6.705233170838288e+20

In [556]:
mae

2366608674.7071915

In [558]:
r_2

-9.063146303340269e+20

In [559]:
dt=DecisionTreeRegressor()

In [561]:
dt.fit(x_train,y_train)
predict=dt.predict(x_test)

In [562]:
r_2=r2_score(y_test, predict)

mse=mean_squared_error(y_test, predict)

mae=mean_absolute_error(y_test, predict)

In [563]:
r_2

0.47365163043869474

In [564]:
mse

0.3894109648984014

In [566]:
mae

0.30415266045461786

In [567]:
rf=RandomForestRegressor()

In [568]:
rf.fit(x_train,y_train)
predi=rf.predict(x_test)

In [569]:
r_2=r2_score(y_test, predi)

mse=mean_squared_error(y_test, predi)

mae=mean_absolute_error(y_test, predi)

In [570]:
r_2

0.6193484595692464

In [571]:
mse

0.28161934608583955

In [572]:
mae

0.26791341098513644

In [575]:
et=ExtraTreesRegressor()

In [576]:
et.fit(x_train,y_train)
pred_e=et.predict(x_test)

In [577]:
r_2=r2_score(y_test, pred_e)

mse=mean_squared_error(y_test, pred_e)

mae=mean_absolute_error(y_test, pred_e)

In [578]:
r_2

0.5821574761241901

In [579]:
mse

0.3091345386586419

In [580]:
mae

0.26984195962004465

In [581]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

In [ ]:
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(x_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(

/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(

/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/Users/xaviersavarimuthu/anaconda3/lib/python3.10/site-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(